body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #footer {
    background: linear-gradient(90deg, #2f5d1b, #448727 25%, #5ab234);
  }
  
  #footer p {
    color: white;
  }
  
  #header img{
    width: 165px;
  }
  
  #main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row{
    height: 100%;
  }
  
  #visitanos img {
    max-width: 100%;
  }
  
  #visitanos #ih{
    padding-left: 0%;
    padding-right: 0%;
  }
  
  #visitanos {
    background-color: #1c3643;
    color: white;
  }
  
  .contact_area {
    position: relative;
    z-index: 5;
  }
  .bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  
  .section_title.section_title_2 .title, .section_title.section_title_2 p {
    color: #fff;
  }
  
  .section_title .title {
    font-size: 40px;
    font-weight: 700;
  }
  
  img {
    vertical-align: middle;
  }
  
  img {
    max-width: 100%;
  }
  
  .section_title.section_title_2 p {
    color: #fff;
  }
  
  .section_title p {
    margin-top: 15px;
    font-size: 18px;
    color: #111111;
  }
  
  .redes_sociales ul li {
    display: inline-block;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .redes_sociales ul li a {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out 0s;
  }
  
  i, span, a {
    display: inline-block;
    text-decoration: none;
  }
  
  .facebook {
    color: rgba(69, 99, 162, 1) !important;
  }
  
  .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    background-size: 1px 90px;
  }
  
  .redes_sociales ul li + li {
    margin-left: 30px;
  }
  
  .contexto_area {
    background-color: white;
    position: relative;
  }
  
  .sobre_contexto{
    padding-top: 120px;
    padding-bottom: 130px;
    padding-right: 50px;
  }
  
  .seccion_titulo .titulo {
    font-size: 40px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #000;
    margin: 0px;
  }
  
  .seccion_titulo .descripcion{
    text-align: justify;
    margin-top: 15px;
    font-size: 18px;
    color: #000;
  }
  
  .imagen {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
  
  .principal .titulo{
    font-size: 40px;
    font-weight: 700;
  }
  
  .principal .descripcion{
    margin-top: 15px;
    font-size: 18px;
    color: #000;
  }
  
  .features i{
    font-size: 60px;
    line-height: 60px;
    color: #C4B600;
    transition: all 0.3s ease-out 0s;
  }
  
  .features .features_title{
    color: #C4B600;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  }
  
  .features p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #938800;
  }
  
  ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  .team-item-content a {
    color: #ac7fa9; 
    transition: 0.3s;
  }
  
  .team-item-content i{
    font-size: 18px; 
    margin: 0 2px;
  }
  
  .quienes_area{
    background-color: #F9F9F9;
    padding-top: 120px;
    padding-bottom: 130px;
  }
  
  .quienes_titulo{
    padding-bottom: 25px;
  }
  
  .quienes_titulo2{
    font-size: 40px;
    font-weight: 700;
  }
  
  .quienes_cosas{
    background-color: #fff;
    padding: 60px 50px;
    margin-top: 30px;
  }
  
  .quienes_cosas .price{
    color: #5ab234;
    font-size: 44px;
    margin-top: 25px;
    font-weight: 700;
  }
  
  .quienes_cosas .mis li{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
  }